.wgt-post-copyright{
	// font-size: $font-size-meta;
	color: $color-meta;
	a{
		text-decoration: none!important;
		color: $color-meta;
	}
	.license-img{
		display: block;
	}
	img{
		margin: inherit;
		width: auto;
	}
	.caption{
		text-align: left;
	}
}