@import 'base/common';
.archive-title {
  font-weight: normal;

  color: $color-meta;
}
.archive-article{
	margin-bottom: $gutter;
	time,
	h1{
		float: left;
		margin: 0;
		font-size: 1em;
	}
	time{
		color: $color-meta;
		font-weight: 200;
		margin-right: $gutter;
	}
	@media screen and (max-width: $width-phone) {
		time,
		h1{
			float: initial;
		}
		h1{
			margin-top: 5px;
		}
    }
}
