$headerWrapperHeight: 56px;
.header__container{
    // box-shadow: 0 2px 2px -2px $color-box-shadow;
    margin-bottom: $gutter;
    height: $headerWrapperHeight;
    line-height: $headerWrapperHeight;
    // border-bottom: 1px solid #F5F5F5 \9;
    background: #2e928a;
    h1{
        margin: 0; 
        padding: 0 15px;
        font-weight: 400;
        font-size: 24px;
        a{
            color: #fff;
        }
    }
}
.header__nav--list{
    margin-top: 0;
    margin-bottom: 0;
    a{
        display: inline-block;
        min-width: 50px;
        padding: 0 15px;
        text-align: center;
        color: #fff;
        &:hover,
        &:active {
            background: rgba(255,255,255,0.3);
        }

    }
    /* li{
        float: left;
        list-style: none;
        margin-right: 10px;
        height: $headerWrapperHeight;
        line-height: $headerWrapperHeight;
    } */
}
.header--bottom{
    .header__container{
        margin-bottom: 0;
        box-shadow: 0 -2px 2px -2px $color-box-shadow;
    }
}