.search {
  input {
    font-size: 14px;

    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px 10px 3px;

    color: $color-meta;
    border: 1px solid $color-border;
    outline: none;
    background: #fff;
  }
}

.widget {
  margin-bottom: 30px;
  ul.entry {
    font-size: 14px;
    line-height: 2;

    overflow: hidden;

    margin: 0;
    padding: 0;

    list-style: none;
    li {
      float: left;

      margin-right: 30px;
    }
  }
  &.tag {
    small {
      margin-left: 2px;

      color: $color-meta;
      &::before {
        padding-right: 2px;

        content: '(';
      }
      &::after {
        padding-left: 2px;

        content: ')';
      }
    }
  }
}
