// Color
$color-background: #fff;
$color-font: #0d0000;

$color-border: #7c848c;
$color-link: #000;
$color-link-hover: #000;

// custom
$color-nav: #2e928a;
$color-font-base: #484848;
$color-font-strong: #000;
$color-box-shadow: #D9D9D9;
$font-size-meta: 12px;
$border-radius: 3px;
$gutter: 20px;
$color-meta: #8F8F8F;
$color-highlight: #E9FDF0;
$color-accent: #02B875;
$mobile-gutter: 0.6em;

// Font
$font-default: 'Microsoft Yahei', sans-serif;
$font-serif: serif;
$font-mono: Monaco, Menlo, Consolas, 'Courier New', monospace;

// Width
$width-wide: 1200px;
/* 1366 * 768 */
$width-normal: 740px;
/* iPhone 6+ 414px */
$width-phone: 500px;
